.main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: var(--light-color);

}
.grid-main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 50px;
  margin-top: 80px;
}
.first{
  padding: 16px;
  display: flex;
  align-items: start;
  justify-content:start;
  flex-direction: column;
}
