.estamosaqui-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  background: var(light-color);

}
.grid-estamosaqui{
  display: grid;
  margin-top: 20px;
  max-width: 1200px;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr;
  column-gap: 100px;

}
.estamosaqui-img{
  width: 100%;
  height: 100%;

}
.estamosaqui-h1{
  font-size: 40px;
  font-weight: 700;
  color: var(--secondary-color);
  margin-bottom: 20px;

}
.ul-estamosaqui{
  margin-top: 30px;
  list-style: none;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 20px;
  margin-left: 30px;
}
.estamosaqui-left{
  margin-left: 90px;
  margin-top: 90px;
}
.li-estamosaqui{
  margin-bottom: 20px;

}
.cards-estamosaqui-button{
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
  background-color: #FAFBFF ;
}
.container-estamosaqui-bottom{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 100px;
  margin-top: 30px;
  max-width: 1200px;
}
p{
  font-size: 15px;
  color: var(--secondary-color);
  font-weight: 400;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-top: 20px;
}
.h1-estamosaqui-bottom{
  font-size: 25px;
  font-weight: 700;
  color: var(--dark-color);
  margin-bottom: 20px;
  margin-left: 30px;
  margin-top: 20px;
}
.stars{
  margin-left: 30px;
  margin-top: 20px;
}
.ul-estamosaqui{
  margin-left: 30px;
  margin-top: 60px;
}
