.container-hero{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  margin-top: 70px;
  margin-bottom: 40px;
  column-gap: 100px;
  margin-left: 70px;
  margin-right: 50px;
}
.img-hero{
  margin-left: 50px;
  width: 80%;
  height: 80%;
  object-fit: cover;
  border-radius: 10px;
}
.hero-left{
  display: flex;
  margin-left: 50px;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}
.h1-hero-in-line{
  font-size: 40px;
  font-weight: 700;
  color: var(--secondary-color);
  margin-bottom: 20px;
  display: inline;
}
.h1-title-hero{
  font-size: 40px;
  font-weight: 700;
  color: var(--secondary-color);
  margin-bottom: 20px;
}
.h2-subtitle-hero{
  font-size: 25px;
  font-weight: 400;
  color: var(--secondary-color);
  margin-bottom: 20px;
}
.h2-hero-in-line{
  font-size: 20px;
  font-weight: 400;
  color: var(--secondary-color);
  display: inline;
  margin-bottom: 20px;
}
.ofert-btn{
  background-color: var(--primary-color);
  color: var(--light-color);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  display: inline-block;
  border-radius: 5px;
  transition: 0.3s;
  border: transparent 2px solid;
}
.hero-left li{
  font-size: 18px;
  font-weight: 400;
  color: var(--secondary-color);
  list-style: none;
  margin-bottom: 20px;
}
.container-price{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
}