.security-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  background: #673DE6;

}
.grid-security{
  display: grid;
  margin-top: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 100px;
}
.security-img{
  margin-top: 80px;
  width: 80%;
  height: 80%;
  object-fit: cover;
}
.security-h1{
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 20px;
  margin-top: 80px;
  margin-left: 30px;
}
.ul-security{
  margin-top: 30px;
  list-style: none;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 20px;
  margin-left: 30px;
}
.security-left{
  margin-left: 90px;
}
.li-security{
  margin-bottom: 20px;
  color: #fff;
}
.cards-security-button{
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
  background-color: #5025D1;
  color: #fff;
}
.container-security-bottom{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 100px;
  margin-top: 30px;
  max-width: 1200px;
}
.p-purpple{
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-top: 20px;
}
.h1-security-bottom{
  font-size: 25px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-top: 20px;
}
.stars{
  margin-left: 30px;
  margin-top: 20px;
}